<!-- Validation failure messages -->
<% if @content.errors.any? %>
<% @content.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Create Content</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_content" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption (Required)
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="<%= @content.caption %>">
      </div>

      <!-- Label and input for photo_video -->
      <div class="form-group">
        <label for="photo_video" class="control-label">
          Post an image or video (Required). Note: For video, post embed link without html tags
        </label>

        <input type="text" id="photo_video" name="photo_video" placeholder="Photo video" class="form-control" value="<%= @content.photo_video %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Additional Description - recipes, image or video description (Optional)
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="10"><%= @content.description %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine (Required)
        </label>

        <%= select_tag("cuisine_id", options_from_collection_for_select(Cuisine.order('cuisine_name asc'), :id, :cuisine_name), :class => "form-control") %>

      </div>

      <!-- Label and input for occassion_id -->
      <div class="form-group">
        <label for="occassion_id" class="control-label">
          Occassion (Required)
        </label>

        <%= select_tag("occassion_id", options_from_collection_for_select(Occassion.order('occassion_name asc'), :id, :occassion_name), :class => "form-control") %>
      </div>

      <!-- Label and input for special_diet_id -->
      <div class="form-group">
        <label for="special_diet_id" class="control-label">
          Special diet (Required)
        </label>

        <%= select_tag("special_diet_id", options_from_collection_for_select(SpecialDiet.order('special_diet_name asc'), :id, :special_diet_name), :class => "form-control") %>

      </div>


      <button class="btn btn-success">
        Create Content
      </button>
      or
      <a href="/contents">Cancel</a>
    </form>
  </div>
</div>
