<div class="page-header">
  <h3>Special Diet #<%= @special_diet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Special diet name</dt>
      <dd><%= @special_diet.special_diet_name %></dd>

      <dt>Photo</dt>
      <dd><%= @special_diet.photo %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/special_diets" class="btn btn-primary">
        Back
      </a>
      <a href="/special_diets/<%= @special_diet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_special_diet/<%= @special_diet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
