<div class="page-header">
  <h3>Special Diet #<%= @special_diet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Special diet name</dt>
      <dd><%= @special_diet.special_diet_name %></dd>

      <dt>Photo</dt>
      <dd><%= @special_diet.photo %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/special_diets" class="btn btn-primary">
        Back
      </a>
      <a href="/special_diets/<%= @special_diet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_special_diet/<%= @special_diet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% @special_diet.contents.each do |content| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= content.user.username %>
          <small> <%= time_ago_in_words(content.created_at) %> ago </small>
        </h3>
      </div>
      <div class="panel-body">
        <h6> <%= content.caption %> </h6>
        <a href="http://localhost:3000/contents/<%= content.id %>"> <img src="<%= content.photo_video %>" class="img-responsive" alt="Responsive image"> </a>

        <% arr = Array.new %>
        <% content.fans.each do |fan|  %>
        <% arr.push(fan.username) %>
        <% end %>

        <% if arr.include?(current_user.username) %>

        <form action = "/delete_like/<%= content.likes.find_by(:user_id => current_user.id).id  %>">
          <a href="/delete_like/<%= content.likes.find_by(:user_id => current_user.id).id %>" class="btn btn-link">
            <i class="fa fa-heart"></i></a>

            <% else %>

            <form action = "/create_like" method = "post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="content_id" value= "<%= content.id %>">
              <input type="hidden" name="user_id" value= "<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              <% end %>


              <% if arr.count != 0 %>
              <%= arr.to_sentence %> likes this
              <% else  %>
              Be the first to like this!
              <% end  %>
            </form>

            <ul class = "media-list">

              <% content.comments.each do |comment| %>
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href = "/users/<%= comment.user_id%>"> <%= comment.user.username %> </a>
                    <small> <%= time_ago_in_words(comment.created_at) %> ago </small>
                  </h6>
                  <%= comment.body %>
                </div>
              </li>
              <% end %>

              <h3>
                <li class="media">
                  <div class="media-body">
                    <form action="/create_comment" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <input type="hidden" name="content_id" value=<%= content.id %>>

                      <input type="hidden" name="user_id" value=<%= current_user.id %>>

                      <!-- Label and input for body -->
                      <div class="form-group">
                        <label for="body" class="sr-only">
                          Body
                        </label>

                        <form action = "/create_comment" method = "post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                          <input type="hidden" name="content_id" value=<%= content.id %>>
                          <input type="hidden" name="user_id" value=<%= current_user.id %>>

                          <div class="input-group">
                            <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                            <span class="input-group-btn">
                              <button class="btn btn-success">
                                <i class="fa fa-commenting-o"></i>
                              </button>
                            </span>
                          </div><!-- /input-group -->
                      </div>
                    </form>
                  </div>
                </li>
              </h3>
            </ul>
          </div>
        </div>

        <% end  %>

      </div>
    </div>
