<div class="page-header">
  <h1>
    My Likes
  </h1>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <% @likes.order('created_at desc').each do |like| %>

    <div class="panel panel-default">
      <div class="panel-heading">

        <h3 class="panel-title"> <%= like.content.user.username %>
          <small> <%= time_ago_in_words(like.content.created_at) %> ago </small>
        </h3>

        <% if like.content.user.id != current_user.id  %>
        <% arr2 = Array.new  %>

        <% like.content.user.friends_where_receiver.each do |sender| %>
        <% arr2.push(sender.id) %>
        <% end %>

        <% if arr2.include?(current_user.id) %>

        <form action="/delete_friend_request/<%= like.content.user.friend_requests_where_receiver.find_by(:sender_id => current_user.id).id  %>">
          <button class="btn btn-default btn-xs">
            Don't Follow
          </button>
        </form>

        <% else  %>


        <form action="/create_friend_request" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" %>
          <input type="hidden" id="sender_id" name="sender_id" value="<%= current_user.id %>">
          <input type="hidden" id="receiver_id" name="receiver_id" value="<%= like.content.user_id %>">


          <button class="btn btn-default btn-xs">
            Follow
          </button>
          <% end  %>
          <% end  %>
        </form>
        </div>




      <div class="panel-body">
        <a href="http://localhost:3000/contents/<%= like.content_id %>"> <h6> <%= like.content.caption %> </h6> </a>

        <h6> Filed under:
          <a href = "/cuisines/<%= like.content.cuisine.id %>"> <%= like.content.cuisine.cuisine_name %></a>,
          <a href = "/occassions/<%= like.content.occassion.id %>"> <%= like.content.occassion.occassion_name %></a>,
          <a href = "/special_diets/<%= like.content.special_diet.id %>"> <%= like.content.special_diet.special_diet_name %></a> </h6>
        <a href="http://localhost:3000/contents/<%= like.content_id %>"> <object style='height: 100%; width: 100%; object-fit: contain' data="<%= like.content.photo_video %>"> </object> </a>
        <% arr = Array.new %>
        <% like.content.fans.each do |fan|  %>
        <% arr.push(fan.username) %>
        <% end %>

        <% if arr.include?(current_user.username) %>

        <form action = "/delete_like/<%= like.content.likes.find_by(:user_id => current_user.id).id  %>">
          <a href="/delete_like/<%= like.content.likes.find_by(:user_id => current_user.id).id %>" class="btn btn-link">
            <i class="fa fa-heart"></i></a>

            <% else %>

            <form action = "/create_like" method = "post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="content_id" value= "<%= like.content.id %>">
              <input type="hidden" name="user_id" value= "<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              <% end %>


              <% if arr.count != 0 %>
              <%= arr.to_sentence %> likes this
              <% else  %>
              Be the first to like this!
              <% end  %>
            </form>

            <ul class = "media-list">

              <% like.content.comments.each do |comment| %>
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href = "/users/<%= comment.user_id%>"> <%= comment.user.username %> </a>
                    <small> <%= time_ago_in_words(comment.created_at) %> ago </small>
                  </h6>
                  <%= comment.body %>
                </div>
              </li>
              <% end %>

              <h3>
                <li class="media">
                  <div class="media-body">
                    <form action="/create_comment" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <input type="hidden" name="content_id" value=<%= like.content_id %>>

                      <input type="hidden" name="user_id" value=<%= current_user.id %>>

                      <!-- Label and input for body -->
                      <div class="form-group">
                        <label for="body" class="sr-only">
                          Body
                        </label>

                          <div class="input-group">
                            <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                            <span class="input-group-btn">
                              <button class="btn btn-success">
                                <i class="fa fa-commenting-o"></i>
                              </button>
                            </span>
                          </div><!-- /input-group -->
                        </div>
                      </form>
                    </div>
                  </li>
                </h3>
              </ul>
            </div>
          </div>

          <% end  %>

        </div>
      </div>
